/* Styles for landing-page.html*/

*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: VCR OSD Mono, "VCR OSD Mono";
    user-select: none;
}

body{
    background:#0C120C url("../Images/BG-Design.svg") repeat fixed center;
    color: #00FFFF;
    height: 98vh;
}

body #container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 96%;
    min-width: 98%;
    border: 10px solid rgba(0, 255, 255, 0.5);
}

#landingCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.design{
    animation: round linear 5s infinite;
}

#topAnimation{
    position: absolute;
    left: 0;
    transform: translate(-300px ,-300px);
    animation: animation1 linear 5s infinite alternate;
}

#bottomAnimation{
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translate(200px ,200px);
    animation: animation2 linear 5s infinite alternate;
}

@keyframes animation2{
    from{
        right: 0;
    }
    to{
        right: 300px;
    }
}

@keyframes animation1{
    from{
        left: 0;
    }
    to{
        left: 300px;
    }
}

@keyframes round{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#title{
    font-size: 144px;
    color: #00FFFF;
    margin-top: 100px;
    text-shadow: 5px 5px 0px #0E9797;
}

.playerInputs{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.playerInputs > input{
    border: none;
    outline: 0;
    text-align: center;
    border-bottom: 2px solid rgba(0, 255, 255, 1);
    padding-bottom: 10px;
    font-size: 36px;
    color: #00FFFF;
    cursor: pointer;
    /* caret-color: black; */
    background-color: rgba(12,18,12, 0.5);
}

.playerInputs > input::placeholder{
    color: rgba(0, 255, 255, 1);
}

#playingMode{
    display: flex;
    justify-content: space-evenly;
    margin-top:60px ;
}

.mode{
    font-size: 64px;
    line-height: 62px;
    color: #00FFFF;
    border-radius: 10px;
    padding: 10px;
    transition: all .2s;
}

#pvp{
    border: 2px solid #00FF29;
}

#computer{
    border: 2px solid rgba(0, 0, 0, 0);
}

#playingMode .mode:hover{
    color: #00FF29;
    cursor: pointer;
}

#play{
    font-size: 100px;
    margin-top: 10px;
    padding: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #00FFFF;
    transition: all .1s;
    text-shadow: 4px 5px 65px rgba(0, 255, 255, 0.6);
}

#play:hover{
    color: #00FF29;
    cursor: pointer;
    text-shadow: 4px 5px 65px #00FF29;
}

#p{
    letter-spacing: -0.185em;
}

#l{
    letter-spacing: -0.19em;
}

#computer{
    margin-left: 60px;
}


::selection{
    color: #0C120C;
    background-color: #00FF29;
}